<DOCTYPE! html>

<head>
	<title>Архив статей</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}/static/archive.css">
</head>

<body class="archive">
	<div class="header">
		<img src="{{ STATIC_URL }}/static/img/logo.jpg" />
	</div>
	<div class="archive">
		{% for post in posts %}
		<div class="one-post">
		<div class="post-title"><a href="{{BASE_DIR}}/article/{{ post.id }}"><h2>{{ post.title }}</h2></a></div>
			<div class="article-info">
				<div class="article-author">{{ post.author.username }}</div>
				<div class="article-created-date">{{ post.created_date }}</div>
			</div>
			<p class="article-text">{{ post.get_excerpt }}</p>
		</div>
		{% endfor %}
	</div>
</body>

